*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aqua;
    max-width: 375px;
    max-height: 660px;
    border-radius: 1.5rem;
    overflow: hidden;
}

.display{
    min-height: 200px;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    color: white;
    flex: 1 1 0%;
}

.display .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.content .input{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.input .operator{
    color: red;
}

.input .brackets, .input .percentage{
    color: blueviolet;
}
.content .output{
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
}

.keys{
    background-color: rgb(160, 255, 255);
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 1rem;
    padding: 1.5rem;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

.keys .key{
    position: relative;
    cursor: pointer;

    height: 0;
    padding-top: 100%;
    background-color: rgb(112, 244, 244);
    border-radius: 1rem;
    user-select: none;
    transition: 0.5s;
}

.keys .key span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.keys .key:hover{
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.keys .key:active{
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}

.keys .key.operator span {
	color: #EB6666;
}

.keys .key.action span {
	color: #26affe;
}